.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(248, 80, 122);
    padding: 15px;
}

.nameAndLogout {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 30px;
}