.createCourse {
	border: 1px solid rgb(0, 68, 255);
    padding: 15px;
}

.createCourse > div {
	margin-bottom: 15px;
}

.createCourse input {
	margin-top: 5px;
}

.addTitle {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.descriptionTextarea {
	width: 100%;
	height: 70px;
	border: 1px solid yellow;
	padding: 10px;
	margin-top: 5px;
}

.addAuthors {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

.addAuthors h4 {
	text-align: center;
}

.leftSection button {
	display: block;
	margin: 10px auto 0;
}

.leftSection {
	width: 45%;
}

.addAuthor {
	margin-bottom: 80px;
}

.durationParagraph {
	font-size: 28px;
}

.rightSection {
	width: 45%;
	padding-right: 100px;
}

.rightSection p {
	margin: 0;
}

.courseAuthors p {
	text-align: center;
}
